:root {
  --yellow: #eef13f;
  --orange: #fe6638;
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
}
ul{
  color : white;
  justify-content: space-evenly;
  display: flex;
  text-decoration: none;
  background-color: rgba(128, 178, 56, 0.5);
  list-style-type: none;
  margin : 0;
  padding: 1rem;
  position: fixed ;
  width: 100%;
}

nav li{
  transition: transform .2s;
}
nav li:nth-child(odd):hover{
  transform: rotate(3deg) scale(1.5);
}
nav li:nth-child(even):hover{
  transform: rotate(-3deg) scale(1.5);
}

header{
  font-size:3rem;
  color:#fe6638;
  text-shadow: 1px 1px 2px white;
  padding-top:0.5rem;
  padding-bottom: 0;
  text-align: center;
  background-image:url(../img/blue-splash.png);
  background-size:cover;
  background-position:center center;
  
  
  align-items:stretch;
  padding: 16rem;
  line-height: 1rem;
}

body {
  background: var(--blue);
  color: #fff;
  font-family: Atma, sans-serif;
  margin: 0;
  font-size: 1.5rem;

  
}

h1,
h2 {
  margin-top: 0;
}

h1,
h2,
h1 + p,
button {
  font-family: Bangers, sans-serif;
  letter-spacing: 2px;
}

/* ... Your turn! ... */

@media (min-width: 640px) {
}


a{
  text-decoration-line: none;
  text-transform: uppercase;
}

ul > li > a{color:white};


